// @use "../util" as *; // no namespace
@use "../util" as u;

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.html,
.page {
  width: 100%;
  height: 100%;
  font-family: u.$font;
  box-sizing: border-box;
}
